#root {
  max-width: 1280px;
  margin: 0 auto;


}


.Home,.GenerateQuotesComponent{
  width:100vw;
  height: 100vh;
}

option{
 
  background-color: rgb(196 181 253);
  color:rgb(91 33 182) ;
  text-align: left;
  font-weight: 700;
}

